{% extends 'main/header.html' %}
<body>
{% block content %}
{% for itemType in inventoryItemTypes %}
<h3 id="{{itemType}}">{{itemType}}</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>OS</th>
            {% if itemType == ESXI %}
            <th>VM</th>
            {% endif %}
            <th>Book</th>
        </tr>
    </thead>
    <tbody>
        {% for item in inventoryItems %}
        {% if item.IsAvailable == true and item.itemType == itemType %}
        <tr>
            <td>{{item.itemName}}</td>
            <td>{{item.itemOS}}</td>
            {% if itemType == ESXI %}
            <!-- Modal Trigger -->
            <td><button data-target="{{item.itemName}} + VM" class="btn modal-trigger">VM's</button></td>

            <!-- Modal Structure -->
            <div id="{{item.itemName}} + VM" class="modal">
                <div class="modal-content">
                    <h4>{{item.itemName}}</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
            {% endif %}
            <!-- Modal Trigger Loan -->
            <td><button data-target="{{item.itemName}}" class="btn modal-trigger">Lease Item</button></td>

            <!-- Modal Structure Loan -->
            <div id="{{item.itemName}}" class="modal">
                <div class="modal-content">
                    <h4>{{item.itemName}}</h4>
                    
                </div>
            </div>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock content %}
</body>
