{% extends 'main/header.html' %}
<body>
{% block content %}
{% for itemType in inventoryItemTypes %}
<h3 id="{{itemType}}">{{itemType|title}}</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>OS</th>
            <th>Software</th>
            {% if itemType == ESXI %}
            <th>VM</th>
            {% endif %}
            <th>Book</th>
        </tr>
    </thead>
    <tbody>
        {% for item in inventoryItems %}
            {% if item.itemAvailable == True and item.itemType == itemType %}
            <tr>
                <td>{{item.itemName}}</td>
                <td>{{item.itemOS}}</td>
                <td>
                    <ul class="collection">
                        {% for software in item.itemSoftware.all %}
                        <li class="collection-item">{{software}}</li>
                        {% endfor %}
                    </ul>
                </td>
                {% if itemType == ESXI %}
                <!-- Modal Trigger -->
                <td><button data-target="#{{item.id}} + VM" class="btn modal-trigger">VM's</button></td>
                <!-- Modal Structure -->
                <div id="{{item.id}} + VM" class="modal">
                    <div class="modal-content">
                        <h4>{{item.itemName}}</h4>
                        <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
                {% endif %}
                <!-- Modal Trigger Loan -->
                <td><a class="waves-effect waves-light btn modal-trigger" href="#{{item.itemName}}{{item.id}}">Lease Item</a></td>

                <!-- Modal Structure Loan -->
                <div id="{{item.itemName}}{{item.id}}" class="modal">
                    <div class="modal-content">
                        <h4>{{item.itemName}}</h4>
                        <form method="POST" action="/lease_request/">
                            {% csrf_token %}
                            <input type="hidden" name="itemId" value="{{item.id}}">
                            <label>Item</label><br>
                            <input type="text" name="itemName" value="{{item.itemName}}" readonly="readonly">
                            <label>Loan Start Date</label><br>
                            <input type="text" name="loanStartDate" value="{{datetoday}}" readonly="readonly">
                            <label>Loan End Date</label><br>
                            <input type="text" class="datepicker" name="loanEndDate" value="{{datetoday}}">
                            <label>Loaning User</label><br>
                            <input type="text" name="loaningUser" value="{{user.username}}" readonly="readonly">
                            <label>Loan Purpose</label><br>
                            <input type="text" name="loanPurpose" placeholder="Purpose for loan">
                            <button class="btn waves-effect waves-light" type="submit">Lease Item</button>
                        </form>
                    </div>
                </div>
                <!-- Modal trigger -->
                <script>$(document).ready(function(){$('.modal').modal()})</script>
                <script>$(document).ready(function(){$('.datepicker').datepicker({format: 'dd/mm/yyyy', container: 'body'})})</script>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock content %}
</body>
