{% extends 'main/header.html' %}
<body>
{% block content %}
  <ul id="slide-out" class="sidenav">
    <h3>{{username}}</h3>
    <li><a href="settings.html">Settings</a></li>
    <li><a href="#!"></a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
<!-- Sidenav trigger -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var elem = document.querySelector('.sidenav');
      var instance = M.Sidenav.init(elem);
      instance.open();
    });
</script>
{% endblock content %}
</body>
