{% extends 'main/header.html' %}
<body>
{% block content %}
<form method="POST" id="return_form">
    {% csrf_token %}
</form>
  <h4 id="loans">My Loans</h4>
  {% if cur_user_loans.count > 0 %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Loan Start Date</th>
        <th>Loan End Date</th>
        <th>Loan Purpose</th>
      </tr>
    </thead>
    <tbody>
      {% for loan in cur_user_loans %}
      <tr>
        <td>{{loan.loanedItem.itemName}}</td>
        <td>{{loan.loanStartDate}}</td>
        <td>{{loan.loanEndDate}}</td>
        <td>{{loan.loanPurpose}}</td>
        <td>
          <button class="btn waves-effect waves-light" type="submit" form="return_form" value="{{loan.loanedItem.id}}" name="return_button">Return</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>You currently have no loans</p>
  {% endif %}
{% endblock content %}
</body>
